html {
  overflow: auto;
}

body {
  background: $bg-light;
  overflow-x: hidden;
}
.chart-container {
  position: relative;
  min-height: 30vh;
}

header {
  .header-top {
    min-height: 100%;
    background: linear-gradient(
        0deg,
        rgba(51, 34, 136, 0.8),
        rgba(51, 34, 136, 0.95)
      ),
      url(../images/toronto-bg.png);
    background-size: cover;
    background-position: center;
    height: 12rem;
    display: flex;
    align-content: center;
    z-index: 2;

    .header-inner {
      display: flex;
      align-content: center;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 400;
    color: $white;
    display: flex;
    align-items: center;
    letter-spacing: 0.05rem;
    margin-bottom: 1.5rem;
  }

  .header-bottom {
    z-index: 0;
    margin-top: -4rem;
    padding: 0;

    .main-nav {
      background: $white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}

main {
  background: $bg-lightest;
  padding-bottom: 2rem;
}

.group-items-select {
  flex-wrap: wrap;
  background: $bg-light;
  border-radius: 4px;
  padding: 0rem 1rem;
  .list-group-item.column {
    @include media-breakpoint-down(lg) {
      width: 25%;
    }
    @include media-breakpoint-down(md) {
      width: 33%;
    }
    @include media-breakpoint-down(sm) {
      width: 50%;
    }
  }

  li {
    background: $bg-light;
    border: none;
    padding: 1rem 0.5rem;
  }
}

.group-items-drop {
  margin: 0 0 1.5rem 0;
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
  .list-group-item.column {
    width: 100%;
  }

  li {
    border: 1px dashed $primary;
    width: 100vw;
    margin: 1rem 0;
  }

  .info-text {
    color: $primary;
  }
}

.preview-only {
  margin-top: 0.4rem;
  @include media-breakpoint-down(md) {
    display: block;
    text-align: center;
  }

  a.nav-link {
    color: #bbbbbbbb;
    font-size: 0.8rem;
    display: initial;
    @include media-breakpoint-down(md) {
      display: block;
      text-align: center;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      color: $primary;
    }
  }
}

.column-pill {
  cursor: grab;
}

.figure-wrapper {
  @include media-breakpoint-down(md) {
    text-align: center;
    padding-top: 1rem;
  }
}
.actions-group {
  h6 {
    @include media-breakpoint-down(md) {
      text-align: justify;
      hyphens: auto;
      padding-bottom: 1rem;
    }
  }
}
