// Toronto variable overrides
$font-family-sans-serif: 'Lato', sans-serif;
$bg-light: #f5f5f5;
$bg-lightest: #fafafa;
$body-color: #263238;
$grid-gutter-width: 30px;
$primary: #332288;
$secondary: #882255;
$success: #117733;

$theme-colors: (
  'primary': #332288,
  'secondary': #882255,
  'success': #117733,
  'info': #ddcc77,
  'warning': #aa4499,
  'danger': #cc6677
);

// Import Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';

@import 'content';
